#background-image{
    background: url("../images/crystalBackground.png"); 
    width: 100% !important;
    height: 100% !important;
    background-repeat: no-repeat
}

#main-container {
    padding-top: 50px;
    min-height: calc(100vh - 70px);
  }

  .container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
  }

#header{
      color: #FFFFF0;
      padding: 30px 0px
  }

 #instructions{
     background: white;
     font-size: 18px;
     font-family: cursive;
     border-radius: 25px;
     padding: 30px 
 } 

 #randomNumber{
    background: linear-gradient(to top, rgb(238, 156, 167), rgb(255, 221, 225));
    font-weight: bold;
    font-size: 30px;
    border: 1px solid black;
    padding: 10px
    
 }

#winsandLosses{
    background: linear-gradient(to top, rgb(238, 156, 167), rgb(255, 221, 225));
    border: 1px solid black;
    font-size: 20px;
    padding: 10px
}
#totalScore{
    background: linear-gradient(to top, rgb(238, 156, 167), rgb(255, 221, 225));
    border: 1px solid black;
    font-size: 20px;
    padding: 10px
}

img{cursor: pointer;
    padding: 3px
}

 @media screen and (max-width: 980px){
    #background-image{
        background: url("../images/crystalBackground.png"); 
        width: 100% !important;
        height: 100% !important;
        background-repeat: no-repeat
    }
    
    #main-container {
        padding-top: 50px;
        min-height: calc(100vh - 70px);
      }
    
      .container {
        width: 100%;
        max-width: 960px;
        margin: 0 auto;
        clear: both;
      }
    
    #header{
          color: #FFFFF0;
          padding: 30px 0px
      }
    
     #instructions{
         background: white;
         font-size: 18px;
         font-family: cursive;
    
     } 

 }

 @media screen and (max-width: 768px){
    #background-image{
        background: url("../images/crystalBackground.png"); 
        width: 100% !important;
        height: 100% !important;
        background-repeat: no-repeat
    }
    
    #main-container {
        padding-top: 50px;
        min-height: calc(100vh - 70px);
      }
    
      .container {
        width: 100%;
        max-width: 960px;
        margin: 0 auto;
        clear: both;
      }
    
    #header{
          color: #FFFFF0;
          padding: 30px 0px
      }
    
     #instructions{
         background: white;
         font-size: 18px;
         font-family: cursive;
    
     } 

 }

 @media screen and (max-width: 640px){
    #background-image{
        background: url("../images/crystalBackground.png"); 
        width: 100% !important;
        height: 100% !important;
        background-repeat: no-repeat
    }
    
    #main-container {
        padding-top: 50px;
        min-height: calc(100vh - 70px);
      }
    
      .container {
        width: 100%;
        max-width: 960px;
        margin: 0 auto;
        clear: both;
      }
    
    #header{
          color: #FFFFF0;
          padding: 30px 0px
      }
    
     #instructions{
         background: white;
         font-size: 18px;
         font-family: cursive;
    
     } 

 }